<ion-header>
  <ion-toolbar>
    <ion-title> Planificación de tareas </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="3"> Tasks in Schedule </ion-col>
        <ul *ngFor="let c of columns">
          <ion-col size="1">
            <ion-item color="medium">{{c}}</ion-item>
          </ion-col>
        </ul>
      </ion-row>
      <ul *ngFor="let t of tasks">
        <ion-row>
          <ion-col size="3"> {{t.text}} </ion-col>
          <ul *ngFor="let c of columns; index as i;">
            <div *ngIf="t.start>i; else other_content">
              <ion-col size="1"
                ><ion-item color="danger"> {{c}} </ion-item>
              </ion-col>
            </div>
            <ng-template #other_content>
              <ion-col size="1">
                <ion-item color="primary">{{c}} </ion-item>
              </ion-col>
            </ng-template>
          </ul>
        </ion-row>
        <ul *ngFor="let secondTask of t.associatedTasks; index as i;">
          <ion-row> {{secondTask.text}} </ion-row>
        </ul>
      </ul>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-card-header> Cheat sheet of task management </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ul *ngFor="let child of childrens ">
          <ion-item>
            <ion-label color="{{child.color}}">{{child.name}}</ion-label>
            <ion-checkbox
              color="{{child.color}}"
              slot="start"
              checked="true"
            ></ion-checkbox>
            <ion-button color="{{child.color}}">Color associated</ion-button>
          </ion-item>
        </ul>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <div class="ion-padding"  >
     Theme classes dark, material, bootstrap
    <ngx-datatable
      class="dark"
      [limit]="8"
      [rows]="rows"
      [rowHeight]="50"
      [columns]="columns"
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [reorderable]="reorderable"
>
      <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
        <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'" ngx-datatable-cell-template>
          <span>
            <ion-button  (click)='onSelectRed(row)'><i class="rb-ic rb-ic-add-frame"></i></ion-button>
            <ion-button (click)='onSelectBlue(value)'><i class="rb-ic rb-ic-add-frame"></i></ion-button>
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <button md-raised-button color="warn" (click)="onSelectRed(0)">Delete</button>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>-->
</ion-content>
