<ion-header>
  <ion-toolbar>
    <ion-title>Nombre de la aplicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- fab placed in the center of the content with a list on each side -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button (click)="createClass()"color="success"><ion-icon name="person-add"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="removeClass()"color="danger"><ion-icon name="person-remove-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  <ion-row>
    <ul *ngFor="let c of classes; index as i;">
      <ion-col>
        <ion-card>
          <img (click)="selectClass(c)" src="{{c.image}}" height="200" width="180" />
          <ion-item class="ion-activated">
            <ion-card-title>
              {{c.name}}
            </ion-card-title>
            <ion-icon name="{{c.icon}}" slot="start"></ion-icon>
          </ion-item>
          <ion-card-content>

          <ion-item *ngIf="showRemoveButton">
            <ion-button  color="danger" (click)="modifiedClasses(i, true)">
              <ion-icon name="search-outline"></ion-icon>
              Delete
            </ion-button>
          </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ul>
  </ion-row>
</ion-content>
