<ion-header>
  <ion-toolbar>
    <ion-title> Planificación de tareas </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/groups">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-grid>
      <!-- <ion-row style="border-bottom: groove">
        <ion-col size="3"> ><ion-button> Tasks in Schedule </ion-button></ion-col>
        <ul *ngFor="let c of columns">
          <ion-col size="1">
            <ion-item color="medium">{{c}}</ion-item>
          </ion-col>
        </ul>
      </ion-row> -->
      <ul *ngFor="let t of tasks; index as i;">
        <ion-row class="ion-align-items-center" style="border-top: groove">
          <ion-col size="3">
            <ion-button *ngIf="i>0" color="light" (click)="showMoreTasks(t)">
              <ion-icon name="calendar"></ion-icon>
            </ion-button>
            <ion-label color="dark"><b>{{t.text}}</b> </ion-label>
          </ion-col>

          <ul *ngFor="let c of columns; index as i;">
            <div *ngIf="t.start>i; else notContent">
              <ion-col col-6><ion-item color="light" > {{c}} </ion-item>
              </ion-col>
            </div>
            <ng-template #notContent>
              <ion-col col-1>
                <ion-item color="medium">{{c}} </ion-item>
              </ion-col>
            </ng-template>
          </ul>

        </ion-row>
        <div *ngIf="t.expanded">
          <ul *ngFor="let secondTask of t.associatedTasks; index as i;">
            <!-- style="border-bottom: groove" -->
            <ion-row
              class="ion-align-items-center"
            >
              <ion-col size="2">
                <ion-label color="{{secondTask.color}}"
                  >{{secondTask.text}}
                </ion-label>
                <ion-button
                  size="small"
                  color="light"
                  (click)="editTask(secondTask)"
                  shape="round"
                >
                  <ion-icon
                    *ngIf="i%2==0; else notContent"
                    name="checkmark-done-outline"
                  ></ion-icon>
                  <ng-template #notContent>
                    <ion-icon name="close-outline"></ion-icon>
                  </ng-template>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-range
                    min="0"
                    max="100"
                    step="10"
                    dualKnobs="true"
                    color="{{secondTask.color}}"
                    [(ngModel)]="secondTask.deadline"
                  >
                    <ion-icon
                      size="small"
                      slot="start"
                      name="return-down-forward-outline"
                    ></ion-icon>
                    <ion-icon
                      size="small"
                      slot="end"
                      name="return-down-back-outline"
                    ></ion-icon>
                  </ion-range>
                  <ion-button color="light" (click)="editTask(secondTask)">
                    <ion-icon name="create-outline"> </ion-icon>EDIT
                  </ion-button>
                </ion-item>
              </ion-col>

              <!-- <ul *ngFor="let c of columns; index as i;">
                <div *ngIf="t.start>i; else other_content">
                  <ion-col
                    ><ion-item color="danger"> {{c}} </ion-item>
                  </ion-col>
                </div>
                <ng-template #other_content>
                  <ion-col>
                    <ion-item color="primary">{{c}} </ion-item>
                  </ion-col>
                </ng-template>
              </ul> -->
            </ion-row>
          </ul>
        </div>
      </ul>
    </ion-grid>
  </ion-card>
  <ion-card *ngIf="tasks[1].expanded || tasks[3].expanded || tasks[2].expanded">
    <ion-card-header> Cheat sheet of task management </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ul *ngFor="let child of childrens ">
          <ion-item>
            <ion-label color="{{child.color}}">{{child.name}}</ion-label>
            <ion-checkbox
              color="{{child.color}}"
              slot="start"
              checked="true"
            ></ion-checkbox>
            <ion-button color="{{child.color}}">Color associated</ion-button>
          </ion-item>
        </ul>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- <div class="ion-padding"  >
     Theme classes dark, material, bootstrap
    <ngx-datatable
      class="dark"
      [limit]="8"
      [rows]="rows"
      [rowHeight]="50"
      [columns]="columns"
      [columnMode]="'force'"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [reorderable]="reorderable"
>
      <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
        <ng-template let-value="value" let-row="row" *ngIf="column.name==='Actions'" ngx-datatable-cell-template>
          <span>
            <ion-button  (click)='onSelectRed(row)'><i class="rb-ic rb-ic-add-frame"></i></ion-button>
            <ion-button (click)='onSelectBlue(value)'><i class="rb-ic rb-ic-add-frame"></i></ion-button>
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <button md-raised-button color="warn" (click)="onSelectRed(0)">Delete</button>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>-->
</ion-content>
