<ion-header>
  <ion-toolbar>
    <ion-title>Introduce the password for your class</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="centerLogin">
    <img class="centerLogin" src="{{imageSecure}}" height="200" width="200" />
  </ion-card>
  <ion-input [(ngModel)]="userPass" placeholder="Enter Password"></ion-input>
<ion-row>

  <ion-col>
    <ion-button (click)="checkSubmission()" expand="full" 
    >Submit Password</ion-button
    >
  </ion-col>
  <ion-col>
    <ion-button (click)="dismiss()" expand="full" color="danger"
    >Exit submission</ion-button
    >
  </ion-col>
</ion-row>
</ion-content>
