<ion-header>
  <ion-toolbar>
    <ion-title> Create new group in class</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label> Introduce the name of the new group: </ion-label>
  </ion-item>
  <ion-input
    [(ngModel)]="group.name"
    placeholder="Enter class name"
  ></ion-input>
  <ion-input
    [(ngModel)]="group.image"
    placeholder="Image to show"
  ></ion-input>
  <ion-item>
    <ion-label> Groups can only be created by teacher </ion-label>
  </ion-item>
  <ion-input
    [(ngModel)]="teacherPassword"
    placeholder="Teacher password"
  ></ion-input>

  <section>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="success" (click)="dismiss(true)"
          >Save new class</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="danger" (click)="dismiss(false)"
          >Close editing
        </ion-button>
      </ion-col>
    </ion-row>
  </section>
</ion-content>
